<?xml version="1.0" encoding="UTF-8"?>


<Configuration status="INFO" monitorInterval="30">
<!--    최상위 요소-->
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd|HH:mm:ss} -- %highlight{%5p}{TRACE=magenta} -- [ %5.50t ] %-1.50c{1.}.%-1.20M(%L)  :    %highlight{%m%n%ex}{TRACE=magenta}
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" disableAnsi="false"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.example.hello" level="trace" />
        <Logger name="org.springframework" level="warn" />
         <Logger name="com.zaxxer.hikari" level="warn" />
         <Logger name="junit" level="trace" />


        <!-- log4jdbc -->
        <logger name="log4jdbc.log4j2" level="info" additivity="false">
            <MarkerFilter marker="LOG4JDBC_JDBC" onMatch="DENY" onMismatch="NEUTRAL"/>
            <appender-ref ref="ConsoleAppender"/>
        </logger>






        <Root level="warn">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>