<?xml version="1.0" encoding="UTF-8"?>


<Configuration status="WARN" monitorInterval="30">
<!--    최상위 요소-->
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} -- %highlight{%5p} -- [ %5.50t ] %-1.50c{1.}.%-1.20M:%L  :    %highlight{%m%n%ex}</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.example.hello" level="trace" />
        <Logger name="org.springframework" level="warn" />
         <Logger name="com.zaxxer.hikari" level="warn" />


        <!-- log4jdbc -->
        <logger name="log4jdbc.log4j2" level="info" additivity="false">
            <MarkerFilter marker="LOG4JDBC_JDBC" onMatch="DENY" onMismatch="NEUTRAL"/>
            <appender-ref ref="ConsoleAppender"/>
        </logger>






        <Root level="warn">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>